<div class="container">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>Arrival </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item1 of userTableData; let i = index;">
        <td>{{ item1.firstName }}</td>
        <td>{{ item1.lastName }}</td>
        <td>{{ eventTableData[i].status }}</td>
        <td>{{ eventTableData[i].timestamp | date : "medium"}}</td>
      </tr>
    </tbody>
  </table>

</div>
